<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <%= render :partial => "/shared/head", :locals => {:theme => true} %>

  <body>
    <div id="wrapper">
      <div id="header">
        <div id="logo">
<%#*<h1><a>StIPS </a></h1>%>
          <p> 
            Stockholm Institute for Public Speaking
            <div style="font-style: italic; color: #AAAEAF; padding-left: 70px; font-size: 14px;">Where talking becomes speaking</div>
          </p>
          <br/>

        </div>
        <div class="userbox">
          <div class="inner">
            <ul class="usernav">
              <li>
                <a href="/faqs">FAQs</a>
              </li>
              <li>
                <a href="/contact">Contact StIPS</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div id="menulist">
<%#*<span class="leftcornerMenu">&nbsp;</span>%>
<%#*<ul>%>
<%#*<li>%>
<%#*<div id="search" >%>
<%#*<form method="get" action="#">%>
<%#*<div>%>
<%#*<input type="text" name="s" id="search-text" value="" />%>
<%#*<input type="submit" id="search-submit" value="GO" />%>
<%#*</div>%>
<%#*</form>%>
<%#*</div>%>
<%#*<div style="clear: both;">&nbsp;</div>%>
<%#*</li>%>
<%#*<li>%>
<%#*<h2>Navigation</h2>%>
        <%= render :partial => 'shared/menu' %>
<%#*<ul>%>
<%#*<li class="last" id="item_2">%>
<%#= link_to "Register Here", new_user_path %>
<%#*</li>%>
<%#*</ul>%>
<%#*<div style="margin-left: 30px;">%>
<%#= render :partial => "/polls/poll" %>
<%#*</div>%>
<%#*</li>%>
<%#*</ul>%>
<%#*<span class="rightcornerMenu">&nbsp;</span>%>
      </div>
      <div id="page" >
        <div id="page-bgtop" >
          <div id="page-bgbtm">
            <div id="content">
              <div id="flash_container">
                <%= render :partial => "/shared/message" %>
              </div>
              <div>
<%#*<div id="gallery">%>
<%#*<div id="gallery-background"><img src="/theme/images/01.jpg" alt="" width="600" height="340" class="output" /></div>%>
<%#*<div id="gallery-bgthumb">%>
<%#*<ul class="thumbnails">%>
<%#*<li><img src="/theme/images/02.jpg" title="LA Skyline ; Upwards shot of a small portion of Los Angeles' skyline." alt="" width="128" height="88" /></li>%>
<%#*<li><img src="/theme/images/03.jpg" title="Leaf ; A close up shot of a green leaf." alt="" width="100" height="75" /></li>%>
<%#*<li><img src="/theme/images/04.jpg" title="Chinese Bell ; A large bell inscribed with Chinese characters." alt="" width="100" height="75" /></li>%>
<%#*<li><img src="/theme/images/05.jpg" title="Ladybird ; A close up shot of a ladybird making its way across a leaf." alt="" width="100" height="75" /></li>%>
<%#*</ul>%>
<%#*<br class="clear" />%>
<%#*</div>%>
<%#*</div>%>
<%#*<script type="text/javascript">%>

<%#*$('#gallery').gallerax({%>
<%#*outputSelector: 		'.output',					// Output selector%>
<%#*thumbnailsSelector:		'.thumbnails li img',		// Thumbnails selector%>
<%#*fade: 					'fast',						// Transition speed (fast)%>
<%#*navNextSelector:		'.nav li a.navNext',		// 'Next' selector%>
<%#*navPreviousSelector:	'.nav li a.navPrevious'		// 'Previous' selector%>
<%#*});%>

<%#*</script>%>
<%#*<!-- end -->%>

              </div>
              <div style="clear: both;">&nbsp;</div>
<%#*<div class="post">%>
<%#= yield %>
<%#*</div>%>
              <div style="clear: both;">&nbsp;</div>
            </div>
            <div class="post">
              <%= yield %>

            </div>

            <!-- end #content -->
<%#*<div id="sidebar" style="margin-left: 30px;">%>
<%#= render :partial => "/polls/poll" %>
<%#*</div>%>

            <!-- end #sidebar -->
            <div style="clear: both;">&nbsp;</div>
          </div>
        </div>
      </div>
      <!-- end #page -->
      <div id="footer">
        <%= render :partial => "/shared/footer" %>
      </div>
    </div>

    <!-- end #footer -->
  </body>
</html>